// Định nghĩa màu sắc cơ bản
$primary-color: #c770fe;
$text-secondary: #666;
$transition-speed: 0.4s;

.project-container {
  padding: 10px 200px;
  display: flex;
  flex-direction: column;
  color: #fff;

  .project-title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 70px;
    color: #fff;
  }

  .project-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    margin-bottom: 120px;
    width: 100%;

    // Mặc định ảnh bên trái, chữ bên phải
    &.reverse {
      flex-direction: row-reverse;
    }

    .project-image-wrapper {
      flex: 1;
      overflow: hidden;
      border-radius: 20px;
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);

      img {
        // width: 100%;
        border-radius: 20px;
        width: 500px;
        height: 400px;
        display: block;
        transition: transform $transition-speed ease;

        &:hover {
          transform: scale(1.05); // Hiệu ứng zoom nhẹ khi di chuột
        }
      }
    }

    .project-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h2 {
        
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 1.5rem;
        color: #b9adad;
      }

      p {
        font-size: 1.1rem;
        line-height: 1.8;
        color: $text-secondary;
        margin-bottom: 2rem;
      }

      .btn-touch {
        color: $primary-color;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        gap: 8px;
        border: 1px solid $primary-color;
        border-radius: 10px;
        background: none;
        cursor: pointer;
        padding: 5px 10px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  // Responsive: Chuyển sang cột khi màn hình nhỏ (Mobile)
  @media (max-width: 768px) {
    .project-item,
    .project-item.reverse {
      flex-direction: column;
      gap: 30px;
      margin-bottom: 60px;

      .project-content {
        h2 {
          font-size: 2.5rem;
        }
      }
    }
  }
}
