@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap&subset=vietnamese");

.navbar {
  background:
    radial-gradient(circle at center, #7c3aed33, transparent 50%),
    linear-gradient(#020617, #020617);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 300px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;

  .navbar__logo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: aliceblue;
    font-size: 15px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;

    h2 {
      margin: 0;
      font-weight: 550;
      font-style: Arial;
    }

    h3 {
      margin: 0;
      font-weight: 300;
      color: gray;
      font-size: 15px;
    }
  }

  .navbar__menu {
    display: flex;
    gap: 40px;
    // font-size: 20px;
    cursor: pointer;
    padding: 12px 0;
    font-family: "Noto Sans", sans-serif;

    .navbar__list {
      display: flex;
      list-style: none;
      gap: 30px;
      font-weight: 50;
      color: rgb(225, 215, 215);
      font-size: 18px;
      padding: 12px 0;

      li {
        opacity: 0.5;
        transition: 0.3s;

        &:hover {
          opacity: 1;
        }
      }
    }

    .nav-right {
      display: flex;
      gap: 15px;
      align-items: center;

      .theme-but {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: none;
        font-size: 20px;
        cursor: pointer;
        background: rgba(255, 255, 255, 0.35);
        color: inherit;
        transition: 0.3s;

        &:hover {
          background: rgba(255, 255, 255, 0.8);
        }
      }
    }

    .contact-btn {
      background-color: #3933af;
      border: none;
      color: white;
      padding: 8px 15px;
      border-radius: 30px;
      cursor: pointer;
      // font-weight: 400;
      font-size: 18px;
      transition: 0.3s;

      &:hover {
        background: #7c3aed;
        transform: translateY(-2px);
      }
    }
  }
}
