@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap&subset=vietnamese");

.navbar {
  background:
    radial-gradient(circle at center, #7c3aed33, transparent 50%),
    linear-gradient(#020617, #020617);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 200px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;

  .navbar__logo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: aliceblue;
    font-size: 15px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;

    h2 {
      margin: 0;
      font-weight: 550;
      font-style: Arial;
    }

    h3 {
      margin: 0;
      font-weight: 300;
      color: gray;
      font-size: 15px;
    }
  }

  .navbar__menu {
    display: flex;
    gap: 40px;
    // font-size: 20px;
    cursor: pointer;
    padding: 12px 0;
    font-family: "Noto Sans", sans-serif;

    .navbar__list {
      display: flex;
      list-style: none;
      gap: 30px;
      font-weight: 50;
      color: rgb(225, 215, 215);
      font-size: 18px;
      padding: 12px 0;

      li {
        position: relative;
        opacity: 0.5;
        transition: 0.3s;

        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 2px;
          bottom: -5px;
          left: 0;
          background-color: white;
          transition: width 0.3s ease;
        }

        &:hover {
          opacity: 1;
          color: #fff;

          &::after {
            width: 100%;
          }
        }
      }
    }

    .nav-right {
      display: flex;
      gap: 15px;
      align-items: center;

      .switch {
        font-size: 17px;
        position: relative;
        display: inline-block;
        width: 60px;
        height: 30px;
        margin-right: 10px;

        input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #73c0fc;
          transition: 0.4s;
          border-radius: 30px;

          &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            border-radius: 20px;
            left: 2px;
            bottom: 2px;
            z-index: 2;
            background-color: #d9cfcf;
            transition: 0.4s;
          }
        }

        .sun svg {
          position: absolute;
          top: 6px;
          left: 36px;
          z-index: 1;
          width: 24px;
          height: 24px;
          animation: rotate 15s linear infinite;
        }

        .moon svg {
          fill: #73c0fc;
          position: absolute;
          top: 5px;
          left: 5px;
          z-index: 1;
          width: 24px;
          height: 24px;
          animation: tilt 5s linear infinite;
        }

        .input:checked + .slider {
          background-color: #183153;
        }

        .input:focus + .slider {
          box-shadow: 0 0 1px #183153;
        }

        .input:checked + .slider:before {
          transform: translateX(30px);
        }
      }

      @keyframes rotate {
        0% {
          transform: rotate(0);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      @keyframes tilt {
        0% {
          transform: rotate(0deg);
        }
        25% {
          transform: rotate(-10deg);
        }
        75% {
          transform: rotate(10deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }
    }

    .contact-btn {
      background-color: #3933af;
      border: none;
      color: white;
      padding: 8px 15px;
      border-radius: 30px;
      cursor: pointer;
      // font-weight: 400;
      font-size: 18px;
      transition: 0.3s;

      &:hover {
        background: #7c3aed;
        transform: translateY(-2px);
      }
    }
  }
}
