@mixin pc {
  @media screen and (min-width: 1025px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: 767px) {
    @content;
  }
}