@import "../../styles/section.scss";

.container-about {
  @extend .section-container;
  padding: 10px 200px;

  .header {
    // display: flex;
    font-size: 48px;
    color: honeydew;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 70px;
    background: linear-gradient(90deg, #6b63f1, #7f5ff3, #9a59f6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .main {
    // Add your about content styles here
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    .text-section {
      max-width: 600px;
      font-size: 18px;
      color: gray;
      line-height: 1.6;

      .title {
        font-size: 40px;
        color: honeydew;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
        background: linear-gradient(90deg, #6b63f1, #7f5ff3, #9a59f6);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .description {
        font-size: 20px;
        color: white;
        margin-bottom: 10px;

        p {
          margin-bottom: 30px;
        }
        span {
          color: #9a59f6;
          font-weight: bold;
        }

        .button-container {
          display: flex;
          gap: 20px;
          margin-top: 20px;
          

          .button {
            position: relative;
            overflow: hidden;
            height: 3rem;
            padding: 0 2rem;
            border-radius: 10px;
            background: #3d3a4e;
            background-size: 400%;
            color: #fff;
            border: none;
            cursor: pointer;

            &.button:hover::before {
              transform: scaleX(1);
            }

            .button-content {
              position: relative;
              z-index: 1;
              color: rgb(255, 255, 255);
              font-size: 15px;
              text-decoration: none;
            }

            &.button::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              transform: scaleX(0);
              transform-origin: 0 50%;
              width: 100%;
              height: inherit;
              border-radius: 10px;
              background: linear-gradient(
                82.3deg,
                rgba(150, 93, 233, 1) 10.8%,
                rgba(99, 88, 238, 1) 94.3%
              );

              transition: all 0.475s;
            }
          }

          .Projects-Button {
            width: fit-content;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px 20px;
            gap: 10px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            background: linear-gradient(
              120deg,
              rgb(150, 86, 199),
              rgb(91, 57, 128)
            );
            transition: all 0.3s;
            box-shadow: 0px 10px 10px rgba(144, 0, 255, 0.166);

            .IconContainer {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 25px;
              height: 25px;
              position: relative;
            }

            .svgBG {
              width: 25px;
              height: auto;
            }

            .svgFG {
              width: 9px;
              height: auto;
              z-index: 2;
              position: absolute;
            }

            .text {
              color: rgb(240, 240, 240);
              font-weight: 600;
              font-size: 14px;
            }

            &:hover .svgFG {
              animation: clockwise 2s linear infinite;
            }

            &:hover .svgBG {
              animation: anti-clockwise 2s linear infinite;
            }

            &:hover {
              background-color: rgb(119, 57, 166);
            }
          }

          @keyframes clockwise {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
          @keyframes anti-clockwise {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(-360deg);
            }
          }
        }
      }
    }

    .img-visual {
      display: flex;

      .img-section {
        display: flex;

        img {
          width: 350px;
          height: 400px;
          object-fit: cover;
          border-radius: 20px;
          border: 2px solid #000000;
          box-shadow: 0 0 20px rgba(146, 135, 155, 0.26);
          transition: transform 0.5s ease;

          &:hover {
            transform: scale(1.25) rotate(-3deg);
          }
        }
      }
    }
  }
}
