* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  overflow-x: hidden;
  background:
    radial-gradient(circle at center, #7c3aed33, transparent 50%),
    linear-gradient(#020617, #020617);
}
